.component-active {
    outline: 1px solid #FF9433!important;
}
.component-active:hover {
    outline: 2px solid #FF7C05!important;
}
.component-url {
    font-size: 11px!important;
    font-family: verdana!important;
    padding: 2px 4px!important;
    background: #000!important;
    color:#fff!important;
    cursor:pointer!important;
    position:relative!important;
    z-index:101!important;
}